<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-horizontal' }) do |f| %>

  <%= f.error_notification %>

  <div class="container-fluid">
    <!-- Form fields -->
    <div class="row-fluid">
      <div class="span8">
        <h3>User settings</h3>
        <p>
          <%= f.input :name %>
          <%= f.input :email %>
        </p>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span8">
        <h3>Profile picture</h3>
        <%= image_tag current_user.image(:profile), class: "img-polaroid" %> <br /><br />
        <%= f.input :image, label: "Upload new profile picture" %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span8">
        <h3>Role settings</h3>
        <p>
          <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
        </p>
        <h3>Password settings</h3>
        <p>
          <%= f.input :password, label: "New Password", autocomplete: "off" %>
          <%= f.input :password_confirmation, label: "New Password Confirmation", autocomplete: "off" %>
        </p>
        <h3>Enter current password to make changes</h3>
        <p>
           <%= f.input :current_password %>
        </p>
      </div>
    </div>
  </div>

  <!-- Submit button -->
  <div class="form-actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>

<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>