<%= simple_form_for(@vsignup) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
<<<<<<< HEAD
    <%= f.association :User %>
    <%= f.association :Responsibility %>
    <%= f.association :Osignup %>
    <%= f.input :date %>
=======
    <%= f.input :date %>
    <%= f.association :User %>
    <%= f.association :Responsibility %>
    <%= f.association :Osignup %>
>>>>>>> 19f3ae6cc4629fcb48706e99ff19aeadf87f57b8
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
