  <tr>
    <td><%= vsignup.User %></td>
    <td><%= vsignup.Responsibility %></td>
    <td><%= vsignup.Osignup %></td>
    <td><%= vsignup.date %></td>
    <td><%= link_to 'Show', vsignup %></td>
    <td><%= link_to 'Edit', edit_vsignup_path(vsignup) %></td>
    <td><%= link_to 'Destroy', vsignup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>