<div class="row">
  <div class="span6 offset3">
    <div class="well">
      <h3><%= @organization.name %></h3>
      <%= image_tag @organization.image %>
      <p class="description">
        <blockquote><%= @organization.description %></blockquote>
      </p>
      <p>
        <b>Address:</b><br />
        <%= @organization.street %><br />
        <%= @organization.city %>, <%= @organization.state %> <%= @organization.zipcode %><br />
        <%= @organization.country %>
      </p>
      <p>
        <b>Website:</b><br />
        <%= link_to @organization.website %>
      </p>
      <%= link_to 'Edit', edit_organization_path(@organization) %> |
      <%= link_to 'Back', organizations_path %>
    </div>
  </div>
</div>