<<<<<<< HEAD
<h1>Listing Organizational Signups</h1>

<table class="table table-striped">
  <thead>
    <th>Event</th>
    <th>Organization</th>
    <th>Organization type</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

  <tbody>
    <%= render @osignups %>
  </tbody>
=======
<h1>Listing osignups</h1>

<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Organization</th>
    <th>Organization type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @osignups.each do |osignup| %>
  <tr>
    <td><%= osignup.start_date %></td>
    <td><%= osignup.end_date %></td>
    <td><%= osignup.organization %></td>
    <td><%= osignup.organization_type %></td>
    <td><%= link_to 'Show', osignup %></td>
    <td><%= link_to 'Edit', edit_osignup_path(osignup) %></td>
    <td><%= link_to 'Destroy', osignup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
>>>>>>> 19f3ae6cc4629fcb48706e99ff19aeadf87f57b8
</table>

<br />

<<<<<<< HEAD
<%= link_to 'New Osignup', new_osignup_path %>
=======
<%= link_to 'New Organization Sign-up', new_osignup_path %>
>>>>>>> 19f3ae6cc4629fcb48706e99ff19aeadf87f57b8
