<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <b>Event:</b>
  <%= @osignup.Event %>
</p>

<p>
  <b>Organization:</b>
  <%= @osignup.Organization %>
</p>

<p>
  <b>Organization type:</b>
  <%= @osignup.organization_type %>
</p>

<p>
  <b>Start date:</b>
  <%= @osignup.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @osignup.end_date %>
=======
  <b>Start date:</b>
  <%= @osignup.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @osignup.end_date %>
</p>

<p>
  <b>Organization:</b>
  <%= image_tag @osignup.organization.image(:tiny) %>
  <%= @osignup.organization.name %>
</p>

<p>
  <b>Organization type:</b>
  <%= @osignup.organization_type %>
>>>>>>> 19f3ae6cc4629fcb48706e99ff19aeadf87f57b8
</p>


<%= link_to 'Edit', edit_osignup_path(@osignup) %> |
<%= link_to 'Back', osignups_path %>
